<h4>Hi, {{firstName}}, welcome to PetHouse.</h4>

<p>To set your new password you should click in the link below.</p>
<p><a href="{{link}}">Click here to set password!</a></p>

<p>Kind regards,<br />PetHouse Team.</p>